* {
    /*font-family: 'Marcellus SC', serif;*/
    font-family: 'Bellefair', serif;
}

h1 {
    padding: 0.2em 0.4em;
}

h2 {
    padding: 1em;
}


.jumbotron {
    color: black;
    background-color: FireBrick;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.3em solid Goldenrod;
    opacity: 0.8;
    z-index: 1;
    width: 100%;
}

#head-jumbo {
    border-radius: 1em;
}

#my-heading {
    background: Goldenrod;
    border-radius: 2rem;
    border: 1px solid #e7e7e7;
    width: 80%;
    padding-left: 2rem;
    margin-top: 0.6rem;
    font-size: 4em;
}

#my-navbar {
    font-size: 2.5rem;
    padding-top: 4.5rem;
}

/* height/width ratio 0.8 */
#my-photo {
    height: 8rem;
    width: 6.4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#my-heading h1 {
    display: inline-block;
}

header nav {
    display: inline-block;
    left: 20%;
}

#head-nav {
    background: Goldenrod;
    left: 0rem;
    border-radius: 1rem;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

main {
    /*padding-top: 11em;*/
}

main>section {
    margin: 1em;
    width: 90%;
}

.sector-container {
    padding-top: 11em;
}

.panel-default>.panel-heading {
    background-color: Navy;
    background-image: none;
    border: 0.3em solid Goldenrod;
    border-radius: 1em;
    opacity: 0.9;
    width: 80%;
    margin: 2rem;
}

.panel-title {
    color: black;
    background-color: Goldenrod;
    font-size: 2em;
    border-radius: 0.3em;
    border: 1px solid #e7e7e7;
}

.panel-default>.sub-panel {
    background-color: DarkGreen;
}

th {
    font-size: 1.3em;
    color: black;
}

.plain-text {
    font-size: 1.2em;
    color: black;
}

td {
    font-size: 1.2em;
    color: black;
}

#resume-container {
    width: 20%;
    border: 1px solid 
}